<html>
  <head>
   <title>VMWebChecker</title>
   <meta charset=utf-8>
   <link rel="stylesheet" href="css/bootstrap.min.csss" >
  </head>
  <body>
    <div class="row-fluid">
      <div id="header">
        <h4>VMWebChecker</h4>
      </div>
      <div id ="current">
        現在ノドメイン情報
        <% @list.each do |domain| %>
          <% domain.each do |subdomain| %>
            <%= subdomain[1] %> 
          <% end %>
        <% end %>
      </div>
      <div class="span8">
        きどうしてないVMたち
        <% @compare_vmlist.each do |nworkingdomain| %>
          <%= nworkingdomain %>
        <% end %>
    </div>
  </body>
</html>

