<form action="/checklist/new" method="post">
  <input type="text" name ="ipaddr">
  <input type="text" name ="domname">
  <input type="submit"/>
  <!--puts params[:ipaddr]
  puts params[:domname]-->
</form>
