<h3>running vms</h3>
<div class="table" id ="current">
  <tr>
  <% @ipmap.each do |k,v| %>
    <td>
    <%= k %>
    </td>
		<% v.each do |ipelem| %>
    <td>
    <%= ipelem %>
		<a href="/vm/suspend/" class="btn">run</a>
    </td>
  <% end %>
  <% end %>
  </tr>
</div>
